@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0 0% 3.9%;
  --foreground-secondary: 0 0% 32.2%;
  --background: 0 0% 96.1%;
  --background-secondary: 0 0% 100%;
  --border: 0 0% 89.8%;
  --border-secondary: 0 0% 96.1%;
  --brand: 142.1 70.6% 45.3%;
  --brand-strong: 142.4 71.8% 29.2%;
}
